<section>
  <article class="w-75 mx-auto">
    <ul class="nav nav-underline">
      <li class="nav-item">
        <button class="nav-link {{displayComponent === 0 ? 'active' : ''}}" aria-current="page"
          (click)="toggleDisplay(0)">Additional Info</button>
      </li>
      <li class="nav-item">
        <button class="nav-link {{displayComponent === 1 ? 'active' : ''}}" aria-current="page"
          (click)="toggleDisplay(1)">Reviews</button>
      </li>
    </ul>
    @switch (displayComponent) {
    @case (0) {
    <app-additional [product]="product"></app-additional>
    }
    @case (1) {
    <app-reviews [productReviews]="product.reviews"></app-reviews>
    }
    }
  </article>
</section>