<header class="d-flex justify-content-evenly">
  <ul class="navbar-nav d-flex flex-row justify-content-evenly text-center align-items-center">
    <li class="nav-item"><i class="fa-regular fa-envelope"></i> tarekbaba&commat;gmail.com</li>
    <li class="nav-item"><i class="fa-solid fa-phone-volume"></i> +20 (101) 086 9000 </li>
  </ul>
  <ul class="navbar-nav d-flex flex-row justify-content-evenly text-center align-items-center">
    <!-- Language -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        English
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Arabic</a></li>
        <li><a class="dropdown-item" href="#">Chinees</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">etc...</a></li>
      </ul>
    </li>

    <!-- Price -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        USD
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">EGP</a></li>
        <li><a class="dropdown-item" href="#">EUR</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">etc...</a></li>
      </ul>
    </li>

    <!-- Icons -->
    <a href="#" class="text-decoration-none text-white">Login <i class="fa-regular fa-user"></i></a>
    <a href="#" class="text-decoration-none text-white">Wichlist <i class="fa-solid fa-heart"></i></a>
    <a href="#" class="text-decoration-none text-white"><i class="fa-solid fa-cart-shopping"></i></a>
  </ul>
</header>
<app-nav></app-nav>