<div class="card mx-auto w-75 shoping-chart shadow-lg border-0">
  <div class="d-flex flex-column flex-md-row g-0 h-100">
    <div class="align-self-center d-flex flex-column flex-xl-row align-items-center col-6">
      <div class="d-none gallery d-xl-flex flex-column align-items-center justify-content-evenly gap-3 w-25 ps-5">
        @for (image of product.images; track $index) {
        <img [src]="image" class="imgGallery" alt="{{product.title}}">
        }
      </div>
      <img [src]="product.images[0]" class="d-block d-xl-none" width="300px" height="300px" alt="{{product.title}}">
    </div>
    <div>
      <div class="card-body my-auto mt-5">
        <h5 class="card-title">{{product.title}}
          @if (product.stock > 10) {
          <span class="badge text-bg-success">In Stock</span>
          } @else if (product.stock < 10 && product.stock> 0) { <span class="badge text-bg-warning">Low Stock</span>
            } @else {
            <span class="badge text-bg-danger">Out Stock</span>
            }

        </h5>
        <!-- Stars -->
        <p class="card-text">
          <small class="d-flex">
            <app-stars [rating]="product.rating"></app-stars>
            ({{product.rating}})
          </small>
        </p>

        <!-- Price -->
        <span class="price">${{ product.price | priceAfterOffer: product.discountPercentage
          }} | <s>${{product.price}}</s></span>

        <!-- Description -->
        <p class="card-description">{{product.description}}</p>

        <!-- Add to Cart -->
        <div class="btn-group py-2 w-50 d-block countAdd" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn" (click)="handleCount(false)" [disabled]="+count.value === 0"><i
              class="fa-solid fa-circle-minus"></i></button>
          <input type="tel" disabled name="count" class="btn bg-white text-black w-25" #count [max]="product.stock"
            areia- min="0" value="0">
          <button type="button" class="btn" (click)="handleCount(true)" [disabled]="+count.value >= product.stock"><i
              class="fa-solid fa-circle-plus"></i></button>
        </div>
        <button (click)="handleCart(product, count.value)" class="btn rounded-1 addCart"
          [disabled]="product.stock == 0 || +count.value == 0">
          Add To Cart
          <i class="fa-regular fa-heart"></i>
        </button>
        <!-- Social media -->
        <div class="d-flex flex-column pt-3 gap-2">
          <span>Category: {{product.category}}</span>
          <span class="tags">Tags: #{{product.tags.join(", #")}}</span>
          <ul class="share list-inline">
            Share:
            <li class="list-inline-item"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>