<h2>Related Products</h2>
<section class="related w-75 d-flex mx-auto justify-content-between">
  @for (product of relatedProducts; track product.id) {
  <div class="relatedProducts my-5">
    <img [src]="product.thumbnail" class="card-img-top" [alt]="product.title">
    <div class="card-body d-flex flex-row flex-nowrap justify-content-around">
      <div>
        <h6 class="card-title">{{product.title}}</h6>
        <span class="price">${{ product.price | priceAfterOffer: product.discountPercentage
          }} | <s>${{product.price}}</s></span>
      </div>
      <div>
        <p class="card-text"><small>@for(star of this.startsArray(product.rating); track
            $index) { <span class="fa fa-star starsColor"></span> }</small></p>
      </div>
    </div>
  </div>
  }
</section>