<footer>
  <section class="d-flex flex-wrap justify-content-between w-75 py-5 mx-auto gap-3">
    <div class="info d-flex flex-column justify-content-between">
      <h2>TarekBaba</h2>
      <div class="input-group mb-2">
        <input type="text" class="form-control rounded-start-1" placeholder="Enter Email..." id="subscripe"
          aria-label="SignUp" aria-describedby="button-signup">
        <button class="btn rounded-end-1" type="button" id="button-signup">Sign Up</button>
      </div>
      <div>
        <h6>Contant Info</h6>
        <p>17 Princess Road, Cairo, Egypt</p>
      </div>
    </div>
    <ul class="catagories list-unstyled">
      <h5>Catagories</h5>
      <li>
        <a href="">Beauty</a>
      </li>
      <li class="">
        <a href="">Fragrances</a>
      </li>
      <li class="">
        <a href="">Furniture</a>
      </li>
      <li class="">
        <a href="">Groceries</a>
      </li>
    </ul>
    <ul class="customerCare list-unstyled">
      <h5>Customer Care</h5>
      <li>
        <a href="">My Account</a>
      </li>
      <li>
        <a href="">Discount</a>
      </li>
      <li>
        <a href="">Returnes</a>
      </li>
      <li>
        <a href="">Order History</a>
      </li>
      <li>
        <a href="">Order Tracking</a>
      </li>
    </ul>
    <ul class="pages list-unstyled">
      <h5>Pages</h5>
      <li>
        <a href="">Browse The Shop</a>
      </li>
      <li>
        <a href="">Category</a>
      </li>
      <li>
        <a href="">Pre-Built Pages</a>
      </li>
    </ul>
  </section>
  <section class="copyRight d-flex justify-content-evenly align-items-center">
    <span>&commat;Tarek - All Rights Reserved</span>
    <ul class="list-inline m-0">
      <li class="list-inline-item">
        <a href="#">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </li>
    </ul>
  </section>
</footer>