<nav class="navbar navbar-expand-xl bg-body-tertiary">
  <div class="container w-75">
    <a class="navbar-brand" routerLink="/">TarekBaba</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-5">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <!-- Deals -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active-link">Today's Deals</a>
        </li>
        <!-- Dropdown Department -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop by Department
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Electronics</a></li>
            <li><a class="dropdown-item" href="#">Computers</a></li>
            <li><a class="dropdown-item" href="#">Smart Home</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">See all</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/test" routerLinkActive="active-link">Contact</a>
        </li>
      </ul>

      <div class="d-flex input-group searchBar">
        <input class="form-control rounded-start-1" type="search" placeholder="Search" aria-label="Search"
          name="searchProdact" #searchBar (keyup.enter)="hanleRoute()">
        <button class="btn rounded-end-1" type="submit" (click)="hanleRoute()"><i
            class="fa-solid fa-magnifying-glass"></i></button>
      </div>

    </div>
  </div>
</nav>