nav {
  background-color: white !important;
  color: #0d0e43;
  font-weight: bold !important;
  border-bottom: 1px solid var(--bg-color-sub);
}
.active-link {
  color: #fb2e86 !important;
}
.btn {
  background-color: var(--bg-color-button);
}
.btn i {
  color: white;
}
.searchBar {
  width: 30%;
}

@media only screen and (max-width: 1199px) {
  .searchBar {
    width: 100%;
  }
}
