/* You can add global styles to this file, and also import other style files */
body {
  /* background-color: #1d1d1d; */
  /* color: white; */

  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
* {
  object-fit: contain;
}
:root {
  --bg-color-first: #eeeffb;
  --bg-color-light-gray: #f4f4fc;
  --bg-color-scound: #7e33e0;
  --bg-color-button: #fb2e86;
  --bg-color-sucsess-button: #28b75f;
  --bg-color-sucsess-light: #19d16f;
  --bg-color-white-off: #f7f7f7;
  --bg-color-prymary: #f9f8fe;
  --bg-color-off-white: #f6f7fb;
  --bg-colot-off-white-hover: #ebf4f3;

  --text-color-sub: #8a8fb9;
  --text-sub-dark: #9da0ae;
  --text-icons: #535399;
  --text-dark: #1d1d1d;
  --text-prymary: #151875;
  --text-prymary-dark: #0d134e;
  --text-prymary-light: #2f1ac4;
  --text-prymary-second: #1d3178;
  --text-gray-light: #9096b2;
  --text-gray-light-two: #8a91ab;
  --text-gray-light-three: #8d92a7;

  --bg-shade: #eeeffb;
  --bg-color-sub: #e7e4f8;

  --shadow: #d5d5d5;
}
.starsColor {
  color: gold;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-color-sub);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color-scound);
}

.toggleForm {
  transform: rotateY(90deg);
}
.scaleForm {
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.hidden {
  display: none;
}
