<div class="card text-center bg-gradient">
  @switch (user.role) {
  @case ('admin') {
  <span class="badge rounded-pill text-bg-danger w-auto align-self-end m-4 mb-0"><i
      class="fa-solid fa-shield-halved"></i> Admin</span>
  }
  @case ('moderator'){
  <span class="badge rounded-pill text-bg-warning w-auto align-self-end m-4 mb-0"><i class="fa-solid fa-users"></i>
    Moderator</span>
  }
  @default {
  <span class="badge rounded-pill text-bg-success w-auto align-self-end m-4 mb-0"><i
      class="fa-solid fa-circle-user"></i> User</span>
  }
  }
  <img [src]="user.image" class="card-img-top rounded-circle border border-3 border-secondary" [alt]="user.username" />
  <div class="card-body">

    <h5 class="card-title text-start text-capitalize">
      {{ user.username }}
    </h5>
    <ul class="list-group text-start">
      <li class="list-group-item">{{user.email}}</li>
      <li class="list-group-item">{{user.phone}}</li>
      <li class="list-group-item">{{user.birthDate | date : 'medium' }}</li>
    </ul>
  </div>
</div>