.card {
  width: 250px;
  transition: scale 0.3s 0s ease-in-out;
  cursor: pointer;
  align-items: center;
}
.card img {
  width: 100px;
  margin: 10px auto;
}
.card-body {
  padding-top: 0px !important;
}
.list-group-item {
  font-size: 14px;
}

.card:hover {
  scale: 1.03;
}
