<div class="latestCard py-4 mx-auto" [routerLink]="['/product-details', productDetails.id, productDetails.title]">
  <div class="card-img">
    <img [src]="productDetails.images[0]" [alt]="productDetails.title">
    <ul class="list-unstyled d-none">
      <li><i class="fa-solid fa-cart-shopping"></i></li>
      <li><i class="fa-regular fa-heart"></i></li>
      <li><i class="fa-solid fa-magnifying-glass"></i></li>
    </ul>
  </div>
  <div class="productInfo d-flex flex-row flex-nowrap justify-content-between py-2">
    <h6>{{productDetails.title}}</h6>
    <small><span class="price gap-3">
        ${{ productDetails.price | priceAfterOffer: productDetails.discountPercentage}}
        <s>${{productDetails.price}}</s>
      </span></small>
  </div>
</div>